dist: xenial

language: go

go:
  - 1.13.x
env:
  - GO111MODULE=on

go_import_path: github.com/appsody/appsody-operator

services:
  - docker

script:
  - uname -p
  - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
  - make custom-push

# stages:
#   - name: build
#   - name: test
#   - name: build and push must gather

# jobs:
#  include:
#   - name: Build docker image
#     stage: build
#     script:
#     - make build-image
#   - name: Run unit tests
#     stage: test
#     script:
#     - make unit-test
#   - name: Run end-to-end tests
#     stage: test
#     script:
#     - make test-e2e
#   - name: Build must gather image and push
#     stage: build and push must gather
#     script:
#     - make build-must-gather
#     - docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD
#     - make push-must-gather
#     if: branch = master AND fork = false AND type != pull_request AND env(DOCKER_USERNAME) IS NOT blank AND env(DOCKER_PASSWORD) IS NOT blank
