dist: xenial

language: go

go:
  - 1.12.x

go_import_path: github.com/appsody/appsody-operator

services:
  - docker

install:
  - export RELEASE_VERSION=v0.10.0
  - wget https://github.com/operator-framework/operator-sdk/releases/download/$RELEASE_VERSION/operator-sdk-$RELEASE_VERSION-x86_64-linux-gnu
  - chmod +x operator-sdk-$RELEASE_VERSION-x86_64-linux-gnu
  - sudo cp operator-sdk-$RELEASE_VERSION-x86_64-linux-gnu /usr/local/bin/operator-sdk
  - rm operator-sdk-$RELEASE_VERSION-x86_64-linux-gnu
  - export GO111MODULE=on

  - wget https://github.com/openshift/origin/releases/download/v3.11.0/openshift-origin-client-tools-v3.11.0-0cbc58b-linux-64bit.tar.gz
  - tar xvf openshift-origin-client-tools*.tar.gz
  - cd openshift-origin-client*/
  - sudo mv  oc kubectl   /usr/local/bin/
  - cd ..

# before_script: 
#   - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#   - operator-sdk build appsody/application-operator:daily
#   - go test -v github.com/appsody-operator/pkg/controller/appsodyapplication
#   - if [[ $TRAVIS_BRANCH == 'master' ]] && [ "$TRAVIS_PULL_REQUEST" == "false" ]; then docker push appsody/application-operator:daily; fi

jobs:
 include:
   - name: e2e test
     stage: test
     script: 
     - chmod ugo+x test_e2e.sh
     - ./test_e2e.sh

