apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  name: appsodyapplications.appsody.dev
spec:
  additionalPrinterColumns:
  - JSONPath: .spec.applicationImage
    name: Image
    type: string
  - JSONPath: .spec.service.port
    name: Port
    type: integer
  - JSONPath: .spec.expose
    name: Exposed
    type: boolean
  group: appsody.dev
  names:
    kind: AppsodyApplication
    listKind: AppsodyApplicationList
    plural: appsodyapplications
    singular: appsodyapplication
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          properties:
            applicationImage:
              pattern: .+:.+
              type: string
            architecture:
              items:
                type: string
              type: array
            autoscaling:
              properties:
                maxReplicas:
                  format: int32
                  type: integer
                minReplicas:
                  format: int32
                  type: integer
                targetCPUUtilizationPercentage:
                  format: int32
                  type: integer
              type: object
            createKnativeService:
              type: boolean
            env:
              items:
                type: object
              type: array
            envFrom:
              items:
                type: object
              type: array
            expose:
              type: boolean
            livenessProbe:
              type: object
            pullPolicy:
              type: string
            pullSecret:
              type: string
            readinessProbe:
              type: object
            replicas:
              format: int32
              type: integer
            resourceConstraints:
              type: object
            service:
              properties:
                port:
                  format: int32
                  maximum: 65536
                  minimum: 1
                  type: integer
                type:
                  type: string
              required:
              - port
              type: object
            serviceAccountName:
              type: string
            storage:
              properties:
                mountPath:
                  type: string
                size:
                  type: string
                volumeClaimTemplate:
                  type: object
              required:
              - mountPath
              type: object
            volumeMounts:
              items:
                type: object
              type: array
            volumes:
              items:
                type: object
              type: array
          required:
          - applicationImage
          type: object
        status:
          type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
